.search--container {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0 !important;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}
.btn--root {
    background-color: $brand-color;
    border-color: $brand-color;
}
.popular-cards--container {
    background-color: $brand-color;
    padding-top: 60px;
    margin-top: -60px;
    position: absolute;
    z-index: 1;
    color: #fff !important;
}
.popular-cards--container .header{
    margin: 0 20px 10px 20px !important;
}
.thumbnail--mini-card {
    background-color: $brand-color !important;
    border-color: $brand-color;
    margin-bottom: 10px;
}