.search--container {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0 !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.btn--root {
    background-color: $brand-color;
    border-color: $brand-color;
}
.popular-minicards--container {
    background-color: $brand-color;
    color: #fff !important;
    padding: 10px 10px 10px 10px;     
}
.header{
    margin: 10px 5px 10px 5px !important;
}
.feature-card--left {
    border: 1px dashed #939ea4;
    border-right: 0px;
    border-radius: 10px;
    margin-top: 20px;
}
.feature-card--center {
    border: 1px dashed #939ea4;
    border-radius: 10px;
    margin-top: 20px;
}
.feature-card--right {
    border: 1px dashed #939ea4;
    border-left: 0px;
    border-radius: 10px;
    margin-top: 20px;
}
.popular-cards--container {
    padding: 0 20px 20px 20px;
}
.thumbnail--mini-card {
    background-color: $brand-color !important;
    border-color: $brand-color;
    margin-bottom: 10px;
}
.row.equal {
    display: flex !important;
    display: -webkit-flex !important;
    flex-wrap: wrap !important;
}
.thumbnail--promo-card {
    border: 0;
    padding: 0;
    height: 100% !important;
}
.promo-card-caption {
    padding: 0 10px 0 10px !important;
    margin-top: -20px;
}
.rating {
    font-size: 0.8em;
}
.help-block--searchbox {
    margin: -5px 0;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .feature-card--left {
        border: 1px dashed #939ea4;
    }
    .feature-card--right {
        border: 1px dashed #939ea4;
    }
}
@media (min-width: 768px) {
    .feature-card--left, .feature-card--center, .feature-card--right {
        width: 33.2%;
    }
    .promo-card--container {
        width: 49.8%;
    }
}
@media (min-width: 992px) {
    .promo-card--container {
        width: 33.2%;
    }
}
@media (min-width: 1200px) {
    .promo-card--container {
        width: 24.9%;
    }
}